@import url(https://fonts.googleapis.com/css?family=Outfit:regular,700);
* {
	padding: 0;
	margin: 0;
}
html,
body {
	height: 100%;
	font-family: Outfit;
	background-color: hsl(212, 45%, 89%);
	font-size: 15px;
}
.wrapper {
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	max-width: 360px;
}
.card {
	background-color: #fff;
	padding: 18px;
	border-radius: 18px;
	margin: 0 1em;
}
.card__img {
	width: 100%;
	border-radius: 18px;
}
.card-content {
	text-align: center;
	padding: 22px 9px;
}
.card__title {
	margin-bottom: 10px;
	color: hsl(218, 44%, 22%);
}
.card__text {
	color: hsl(220, 15%, 55%);
}
